{% extends 'workeu/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content container">
<div class="row">
<div class="col-md-12">
<form action="/contactView/" method="post">{% csrf_token %}
{{ form.non_field_errors }}
<div>
<label for="id_subject">Тема (укажите интересующую Вас вакансию):</label>
{{ form.subject.errors }}
{{ form.subject }}
</div>
<div>
<label for="id_sender">E-mail:</label>
{{ form.sender.errors }}
{{ form.sender }}
</div>
<div>
<label for="id_message">Сообщение (вкратце опишите Ваш опыт и навыки):</label>
{{ form.message.errors }}
{{ form.message }}
</div>
<div>
{{ form.copy.errors }}
 <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
</div>
<input class='elt' type="submit" value="Отправить"/><span class='sec-elt'><span class="btn-primary btn-lg active glyphicon glyphicon-envelope"</span></span>
</form>
</div>
<h3 class="glyphicon glyphicon-share centered"><a class="g" href="{% url 'landing' %}">На главную</a></h3><br>
</div>
</div>
{% endblock %}