{% extends 'workeu/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row centered">
    <div class="col-lg-10 col-lg-offset-1 col-lg-offset-1">
	
						  
							    <h1>Помощь при получении рабочей визы</h1>
							
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Окажем помощь</th>
      <th>Вы можете сделать самостоятельно</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Загранпаспорт</th>
      <td></td>
      <td>Для получения заграничного паспорта Вы можете обратиться в ОВИР или в паспортный сервис</td>
      
    </tr>
    <tr>
      <th scope="row">Приглашение</th>
      <td>Мы поможем Вам получить официальное приглашение от работодателя в короткий срок и без затрат времени и сил с Вашей стороны.
          Работодателю нужно достаточно много времени чтобы зарегистрировать приглашение в местной администрации – 
		  есть приемные и не приёмные дни и часы, затем нужно найти время и возможность передать это приглашение в Украину. 
		  Мы избавим Вас от волнений и долгих ожиданий.</td>
      <td>Процесс получения рабочей визы начинается с получения официального приглашения от работодателя. Вы можете самостоятельно в 
	      интернете найти интересующие Вас вакансии на сайтах прямых работодателей и, выслав свое резюме и получив подтверждение 
		  от работодателя что Вы будете приняты им на работу, созвониться с ним и получить от него официальное приглашение 
		  (по польскому законодательству приглашение делается до 14 дней + время для передачи вам оригинала приглашения). 
		  Для этого работодатель должен быть согласен подождать Вас как работника около полутора месяцев, пока будет оформляться 
		  Ваша рабочая виза.</td>
      
    </tr>
    <tr>
      <th scope="row">Визовый сбор</th>
      <td>Мы подскажем где находится визовый центр Польши, в каком банке нужно заплатить, какие документы нужно заполнить, 
	      на что обратить внимание и обязательно проверить</td>
      <td>Оплачиваете визовый сбор 18 евро.</td>
      
    </tr>
	 <tr>
      <th scope="row">Страховка</th>
      <td>Мы имеем право оформлять страховку от имени  "ПЗУ Украина".</td>
      <td>Вы можете самостоятельно оформить страховой медицинский полис в страховой компании.</td>
      
    </tr>
	<tr>
      <th scope="row">Заполнить анкету</th>
      <td>Мы заполним за Вас Анкету в Визовый Центр (поскольку от правильности заполнения Анкеты зависит решение Визового Центра выдать 
	      или не выдать Вам визу – желательно, чтобы это делали люди, которые занимаются этим не первый день), 
		  проверим наличие всех необходимых документов.</td>
      <td>Имея на руках оригинал (обязательно ОРИГИНАЛ) приглашения, квитанции об оплате визового сбора – можете попробовать самостоятельно 
	      заполнить Анкету для Визового Центра и собрать все необходимые документы для подачи в визовый центр 
		  </td>
      
    </tr>
	<tr>
      <th scope="row">Записаться на подачу в визовый центр</th>
      <td>Если Вы хотите как можно быстрее получить визу - мы сможем записать Вас на ближайшую свободную дату для подачи документов в 
	      Визовый Центр.</td>
      <td>В случае, если документы подаются в Визовый Центр, который принимает их к рассмотрению строго по предварительной записи, 
	      необходимо назначить дату и время подачи. (Некоторые Визовые Центры принимают только в определённые дни и очереди расписаны на 
		  несколько месяцев вперед).</td>
      
    </tr>
	<tr>
      <th scope="row">Подать документы в визовый центр</th>
      <td>Наш менеджер отправит Вам подготовленные документы, которые Вам нужно отнести в визовый центр, подробно проконсультирует и 
	      Вам останется, только сдать их.</td>
      <td>В назначенное время прийти в Визовый Центр с пакетом необходимых документов. В Визовом Центре Вас встретит работник, имеющий 
	      перечень заявителей, зарегистрированных на подачу документов в этот день. При предъявлении загранпаспорта, на который была 
		  осуществлена запись, сотрудник пропустит Вас и выдаст талон на электронную очередь. В порядке электронной очереди Вы пройдете 
		  к окну приема документов и, после предварительной их проверки, у Вас их примут.</td>
      
    </tr>
	<tr>
      <th scope="row">Подобрать вакансию</th>
      <td>И снова время и силы. Если Вы предоставите нам возможность помочь Вам в подборе вакансии – Ваша задача только прислать нам свое 
	      резюме в развернутом виде. Мы переводим Ваше резюме на язык работодателей, рассылаем его в несколько предприятий, проводим переговоры 
	      с работодателями для получения лучших условий труда и лучшей заработной платы (в зависимости от Вашей квалификации и опыта работы) 
	      и в итоге даём на Ваше рассмотрение несколько вакансий, по которым Вам предлагают лучшие условия.</td>
      <td>Когда виза уже у Вас на руках – теперь как раз самое время подобрать себе работу. В сети интернет очень много предложений, 
	      Вы можете попробовать сами сориентироваться в этом многообразии вакансий. Ваша задача – составить развернутое резюме, которое 
		  заинтересует работодателя, отправить его предполагаемому работодателю и ждать ответ. Проблема может состоять в том, что 
		  резюме нужно составлять на языке работодателя. И когда рассмотрят Ваше резюме – тоже не известно.</td>
      
    </tr>
	<tr>
      <th scope="row">Дорога до места работы</th>
      <td>Есть еще одна часть действий для того, чтобы Вы уже могли приступить к работе – дорога до работодателя.
          В зависимости от Вашего региона проживания мы Вам поможем составить маршрут передвижения до нужного Вам города, 
		  купить билеты по более дешевой цене, предоставить встречающего в городе предполагаемой работы и сопровождение при поселении и 
		  оформлении Вас на новом рабочем месте, а также проведем консультацию по правилам пересечения границы.</td>
      <td>Если вы справились со всеми вышеупомянутыми пунктами и получили подтверждение от работодателя что Вы подходите на интересующую Вас 
	      вакансию и он Вас ждет в определенный день для трудоустройства, осталось чуть-чуть – добраться до места работы. Вам нужно приобрести 
	      билеты, собрать все необходимые вещи и самое главное - пересечь границу, правильно отвечая на вопросы пограничников.</td>
      
    </tr>
	<tr>
      <th scope="row">Стоимость</th>
      <td>140€ + страховка.</td>
      <td>Только стоимость страховки.</td>
      
    </tr>
  </tbody>
</table>
<h3 class="glyphicon glyphicon-share"><a class="g" href="{% url 'landing' %}">На главную</a></h3><br>
    </div>
</div>
{% endblock %}